openapi: 3.0.0
info:
  title: Core Payments
  description: "# API Reference\nThe MatchMove API is organized around REST. Our API\
    \ has predictable resource-oriented URLs, accepts form-encoded request bodies,\
    \ returns JSON-encoded responses, and uses standard HTTP response codes, authentication,\
    \ and verbs.\nYou can use the MatchMove API in test mode, which does not affect\
    \ your live data or interact with the banking networks. The API key you use to\
    \ authenticate the request determines whether the request is live mode or test\
    \ mode.\nThe MatchMove API differs for every account as we release new versions\
    \ and tailor functionality. Log in to see docs customized to your version of the\
    \ API, with your test key and data.\n"
  termsOfService: https://www.matchmove.com/terms
  contact:
    name: MatchMove Pay Pte Ltd.
    url: https://www.matchmove.com/contact
    email: code@matchmove.com
  version: 1.18.0
servers:
- url: "https://beta-api.mmvpay.com/{product}/v1"
  description: Sandbox Environment. Interfaces with sandbox data
  variables:
    product:
      description: Product code generated for you by MatchMove
      default: sgmdemo
      enum:
      - sgmdemo
      - indemo
      - vndemo
- url: "https://api.mmvpay.com/{product}/v1"
  description: Production Environment. Interfaces with live Data
  variables:
    product:
      description: Product code generated for you by MatchMove
      default: invisa
security:
- basicAuth: []
tags:
- name: Oauth-Utilities
  description: |
    Oauth utilities are set of helper endpoints provided to API consumers to augment their utilization of the  platform by consuming these endpoints which generally expose data at a program level rather than at a user level.
- name: Users
  description: "A User refers to any consumer who uses the Virtual Wallet platform.\
    \ \n"
- name: User Addresses
- name: User Risk
- name: Users Identity Authentications
- name: Wallets
  description: |
    Wallet is the root payment account that is created in the system linked to a user. One user can have one wallet.
- name: Cards
  description: |
    Cards is the supplementary payment instrument created in the system
- name: Cards Transactional Limits
- name: Cards Fund Categories
- name: Cards Fund Categories Limits
- name: Cards Count Limits
- name: Remittances
  description: |
    Endpoints dealing with all remittance transactions in the system
- name: Funds
  description: |
    Endpoints dealing with all closed loop transactions in the system
- name: Funds Categories
  description: |
    The Fund Category feature allows you to control how a balance or "fund" is spent. Every time a cat
- name: Transactions
- name: Transaction Rules
- name: Virtual Accounts
  description: |
    Webhooks resource collection allows consumers to receive updates and programmatically manage updates in their system based on events a consumer chooses to subscribe.
- name: Webhooks
  description: |
    Webhooks resource collection allows consumers to receive updates and programmatically manage updates in their system based on events a consumer chooses to  subscribe.
- name: Enumerations
- name: Enumerations Users
- name: Oauth Utilities Reporting
- name: Currencies
paths:
  /users:
    get:
      tags:
      - Users
      summary: Get user
      description: |
        Retrieve details of a particular user created in the system
      operationId: get_user
      parameters:
      - name: X-Auth-User-ID
        in: header
        description: MatchMove provided hash ID for the user
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 32
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User_full.v1'
    put:
      tags:
      - Users
      summary: Update user
      description: "Update details of a user created in the system\n\nThe `preferred_name`\
        \ can only be changed before wallet/card creation.\n\nModifying `first_name`,\
        \ `middle_name`, `last_name`, `id_type`, `id_number` and/or `id_date_expiry`\
        \ will result to the removal of any risk exception created for the user, thus,\
        \ a new exception must be added using <a href=\"#post-users-risk-exceptions\"\
        >POST /users/risk/exceptions</a>.\n\nThis resource may function as a validation\
        \ for the given parameters, provided appending `test` to the url (eg. users/test).\n"
      operationId: update_user
      parameters:
      - name: X-Auth-User-ID
        in: header
        description: MatchMove provided hash ID for the user
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 32
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/User_request.v1'
            examples: {}
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User_full.v1'
              examples: {}
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "404":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "502":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "503":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "504":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
    post:
      tags:
      - Users
      summary: Create/Re-activate user
      description: "This endpoint used for creation of new user in the system. In\
        \ addition when called just using `user_id` the same endpoint is used for\
        \ re-activating the user in the system. If the user is in locked state.\n\n\
        The user information that needs to be colleted in the system depends on the\
        \ country of issuance of the program.\n<!-- theme: info -->\n> ### Note\n\
        >\n> Mobile number and email combination is unique individually in the system.\
        \ For a given program if mobile number is already in use and that account\
        \ is in active or locked state the same mobile number cannot be used for new\
        \ account creation. It can only be re-used if the original account is in blocked\
        \ state. Similarly for a given program if email is already in use and the\
        \ account is in active or locked state the same email cannot be used for another\
        \ user. It can only be re-used if the account is in blocked state. \n\n<!--\
        \ theme: info -->\n> ### Note\n>\n> Do note when this endpoint is called in\
        \ context of user re-activation only user_id is required. \n\n<!-- theme:\
        \ danger -->\n> ### Note\n>\n> Blocked accounts cannot be re-activated\n"
      operationId: create_users
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/User_request.v1'
            examples:
              Create User:
                value:
                  first_name: John
                  last_name: Doe
                  preferred_name: John Doe
                  email: john@doe.com
                  mobile_country_code: 65
                  password: Use@strongPass1
                  mobile: 91900001
              Create User with all demographic Information:
                value:
                  id: string
                  first_name: string
                  last_name: string
                  middle_name: string
                  preferred_name: string
                  email: string
                  mobile_country_code: string
                  password: string
                  mobile: 0
                  title: Mr
                  id_type: string
                  id_number: string
                  id_date_expiry: string
                  id_date_issue: string
                  country_of_issue: string
                  alt_id_type: string
                  alt_id_number: string
                  alt_id_date_expiry: string
                  alt_id_date_issue: string
                  alt_id_country_of_issue: string
                  birthday: string
                  place_of_birth: string
                  nationality: string
                  gender: string
                  marital_status: string
                  mothers_maiden_name: string
                  nature_of_business: string
                  customer_id: string
                  purpose_of_account: string
                  partner_id: string
              Reactivate User:
                value:
                  id: string
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User_full.v1'
          links:
            GetUserByUserId:
              $ref: '#/components/links/GetUserByUserId'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "401":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "404":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "500":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "502":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "503":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "504":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
  /users/{user_id}:
    delete:
      tags:
      - Users
      summary: |
        De-activate user
      description: "There are two kinds of suspensions which are supported in the\
        \ system currently. depending on the state passed as part of the request the\
        \ behavior changes.\n### Suspended\n  disable all resources of the user which\
        \ includes the generation of the security token. This will also invalidate\
        \ all active access associated to the user. If the card has been already pre-validated\
        \ by a merchant, an authorization can still be made.\n### Blocked\n  will\
        \ suspend the account and block all cards associated to the user. The blocked\
        \ cards will disable all transaction made by that card, and all purchase authorization.\n\
        <!-- theme: info -->\n> ### Note\n> An account with cards or payment account\
        \ with pending settlements cannot be closed. You are recommended to first\
        \ suspend the account and wait for pending settlements before blocking\n"
      operationId: delete_user_id
      parameters:
      - name: user_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/users_user_id_body'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "500":
          description: Internal server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "503":
          description: External Service Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
  /users/wallets:
    get:
      tags:
      - Wallets
      summary: Retrieve Wallet
      description: Retrieve user's wallet details and information.
      operationId: get_user_wallet
      parameters:
      - name: X-Auth-User-ID
        in: header
        description: MatchMove provided hash ID for the user
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 32
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wallet_full.v1'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "500":
          description: Internal server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "503":
          description: External Service Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
    post:
      tags:
      - Wallets
      summary: Create Wallet
      description: "Create a wallet for a customer created in the system \n\nDo note\
        \ the resource has the following pre-requisites too be present in\nthe system\
        \ for the user information depending on regions\n\n\nFor Singapore\n- `Nationality`\n\
        \nFor India\n- `id_type`\n- `id_number`\n"
      operationId: create_user_wallet
      parameters:
      - name: X-Auth-User-ID
        in: header
        description: MatchMove provided hash ID for the user
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 32
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wallet_full.v1'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "500":
          description: Internal server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "503":
          description: External Service Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
  /users/wallets/transactions/{page}:
    get:
      tags:
      - Transactions
      summary: Get Wallet Transactions
      description: Retrieves the transaction history of the User's Virtual Wallet
      operationId: get_user_wallet_transaction
      parameters:
      - name: page
        in: path
        description: the one-based page number (maximum value of 99) to be displayed.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: X-Auth-User-ID
        in: header
        description: MatchMove provided hash ID for the user
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 32
          type: string
      - name: limit
        in: query
        description: Number of transactions return per page (Default 5)
        required: false
        style: form
        explode: true
        schema:
          maxLength: 2
          type: string
          default: "5"
      - name: type
        in: query
        description: "Filter transactions according to transaction types. Values can\
          \ be: [debit , credit]. "
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - debit
          - credit
      - name: date_range
        in: query
        description: "Limit transactions based on date range. Example: `date_range=20141220,20150131`. "
        required: false
        style: form
        explode: true
        schema:
          maxLength: 21
          type: string
      - name: sort
        in: query
        description: "Comma delimited sorting of the result according to amount, date.added\
          \ and date.expiry. Example: sort=`+amount`,`-date.added`,`-date.expiry`.\
          \ Only works for in house balance products."
        required: false
        style: form
        explode: true
        schema:
          maxLength: 32
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "500":
          description: Internal server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "503":
          description: External Service Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
  /users/wallets/cards/types:
    get:
      tags:
      - Cards
      summary: Get configured card types
      description: Retrieve the list of card types supported in the system
      operationId: get_user_wallet_card_types
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
        "400":
          description: Invalid card type configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "500":
          description: Internal server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "503":
          description: External Service Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
      security:
      - basicAuth: []
  /users/wallets/cards/{card_type_code}:
    post:
      tags:
      - Cards
      summary: Create Card
      description: "This Api is used for fulfilling the following use cases:\n  -\
        \ Creating Virtual Card in the system\n  - Linking a non personalized card\
        \ to the wallet of the user in the system\n  - Linking and activating a non\
        \ personalized card to the wallet of the user in the system (requires `auto_activate`\
        \ parameter with value `true` passed)\n  - Placing a personalized card order\
        \ in the system\n\n<!-- theme: info -->\n> ### Note\n> If mask_number config\
        \ is enabled the `number` will be in the encrypted form (123456 XX XXXX 1234).\
        \ \n\nLearn more about [cards resource](https://matchmove.stoplight.io/docs/optimus-prime/docs/Guides/Cards/Cards-Overview.md)\n"
      operationId: create_user_wallet_card
      parameters:
      - name: card_type_code
        in: path
        description: "The card type available for the program in the system. Available\
          \ choices can be retrieved via [Get configured card types](https://developer.matchmove.com/docs/optimus-prime/op_api.yaml/paths/~1users~1wallets~1cards~1types/get)"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: X-Auth-User-ID
        in: header
        description: MatchMove provided hash ID for the user
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 32
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/cards_card_type_code_body'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card_full.v1'
          links:
            GetCardId:
              operationId: getCardId
              parameters:
                user_id: $response.body#/id
              description: "The `id` value returned in the response can be used as\n\
                the `card_id` parameter in `GET /users/{user_id}`.\n"
  /users/wallets/cards:
    get:
      tags:
      - Cards
      summary: Get cards for user
      description: "Retrieve the list of card types supported in the system\n<!--\
        \ theme: danger -->\n\n> ### Deprecation Notice\n>\n> Do note this API is\
        \ no longer actively supported and partners are expected to consume get /users/wallets/cards/card_id\
        \ explicitly.\n\n<!-- theme: info -->\n> ### Note\n> If mask_number config\
        \ is enabled the `number` will be in the encrypted form (123456 XX XXXX 1234).\
        \ \n"
      operationId: get_user_wallet_cards
      parameters:
      - name: mask_number
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: X-Auth-User-ID
        in: header
        description: MatchMove provided hash ID for the user
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 32
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "500":
          description: Internal server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "503":
          description: External Service Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
      deprecated: true
  /users/wallets/cards/{card_id}:
    get:
      tags:
      - Cards
      summary: Get card details
      description: "Retrieve the details of a particular card in the system via card_id.\n\
        \n<!-- theme: info -->\n> ### Note\n> If mask_number config is enabled the\
        \ `number` will be in the encrypted form (123456 XX XXXX 1234).\n"
      operationId: get_user_wallet_card_id
      parameters:
      - name: card_id
        in: path
        description: |
          Cards id which can be obtained using GET `/users/wallets` or GET `/users/wallets/cards`
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mask_number
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: X-Auth-User-ID
        in: header
        description: MatchMove provided hash ID for the user
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 32
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card_full.v1'
        "400":
          description: Invalid card `hash_id`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "500":
          description: Internal server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "503":
          description: Something went wrong while retrieving your card information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
    put:
      tags:
      - Cards
      summary: Activate card
      description: "Process for activation of physical card (Personalized / Non Personalized).\
        \ This API is not applicable for virtual card type.\nIf 2fa is enabled, then\
        \ in response the details related to the same is returned.\n<!-- theme: info\
        \ -->\n> ### Note\n> Do note if `auto_activate=true` is passed during `POST\
        \ /users/wallets/{card_type_code}` this step is not applicable.\n"
      operationId: put_user_wallet_card_id
      parameters:
      - name: card_id
        in: path
        description: |
          Cards id which can be obtained using GET `/users/wallets` or GET `/users/wallets/cards`
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/cards_card_id_body'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
    post:
      tags:
      - Cards
      summary: Re-activate card
      description: "Re-Activate a locked card\n\n<!-- theme: info -->\n> ### Note\n\
        > If mask_number config is enabled the `number` will be in the encrypted form\
        \ (123456 XX XXXX 1234). \n"
      operationId: reactivate_user_wallet_card_id
      parameters:
      - name: card_id
        in: path
        description: |
          Cards id which can be obtained using GET `/users/wallets` or GET `/users/wallets/cards`
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/cards_card_id_body_1'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "500":
          description: Internal server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "503":
          description: External Service Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
    delete:
      tags:
      - Cards
      summary: Suspend / Block card
      description: "There are two kinds of suspensions which are supported in the\
        \ system currently. Depending on the state passed as part of the request the\
        \ behavior changes.\n### Suspended\nSuspends the card prevents fresh authorizations\
        \ on that card. If the card has been already pre-validated by a merchant,\
        \ an authorization can still be made.\n### Blocked\nBlocking cards will disable\
        \ all transaction made by that card, and all purchase authorization.\n<!--\
        \ theme: info -->\n> ### Note\n> A card with pending settlements cannot be\
        \ blocked. You are recommended to first suspend the account and wait for pending\
        \ settlements before blocking\n\n<!-- theme: info -->\n> ### Note\n> If mask_number\
        \ config is enabled the `number` will be in the encrypted form (123456 XX\
        \ XXXX 1234). \n\n<!-- theme: danger -->\n> ### Note\n> Passing values `lost`,\
        \ `stolen` and `damaged`  will permanently block the card and is irreversible\n"
      operationId: delete_user_wallet_card
      parameters:
      - name: card_id
        in: path
        description: |
          Cards id which can be obtained using GET `/users/wallets` or GET `/users/wallets/cards`
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/cards_card_id_body_2'
        required: false
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "500":
          description: Internal server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "503":
          description: External Service Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
  /users/wallets/cards/{card_id}/pins:
    post:
      tags:
      - Cards
      summary: Set card pin
      description: "Setting a pin for the user in the system. Due to security considerations\
        \ and guidelines imposed by PCIDSS, the PIN can never be transmitted using\
        \ clear text.\n\n\nTo use this API , clients will be provided with a ZPK ,\
        \ that would be used for generating the Pinblock in a secure manner.\n\nIn\
        \ addition for security considerations and prevent fraud. There are thresholds\
        \ implemented with respect to the count of PIN resets that can be attempted\
        \ within a given period.\n\n*Note*\nIt is highly recommended to implement\
        \ a KMS or HSM for storage of the ZPK provisioned for you.\n\nThe encryption\
        \ logic is as follows\n\nPINBLOCK FORMAT : ISO FORMAT ZERO\n\nEncryption Method\
        \ : ANSI X 9.17 – Triple DES – ECB\n\nKey Management : Static PIN Encryption\
        \ Key\n\nKey Length : Double Length (32 hexadecimal characters)\n\nSample\
        \ Data with Input and Output\n\n### Input\nPIN Encryption Key (Clear) : `0123456789ABCDEF0123456789ABCDEF`\n\
        Pin entered by Customer : `1234`\nMobile no : `00 65 12345678`\nOutgoing PINBLOCK(ISO\
        \ FORMAT ZERO) : `1D51A078AC3F7081`\n\n***\nmobile number will be always 12\
        \ digits, lets say if system was having a mobile number with only 10 digits\
        \ (6512345678) then should we consider (006512345678)\n\n*Phone Number (12\
        \ digits)*: `123456789012`\n\n*Key (16 or 24 bytes, 16 bytes in this example)*:\
        \ `112233445566778899AABBCCDDEEFF00`\n\n*Padding (DCBA) + Phone Number + ~Padding\
        \ () + ~Phone Number*: `DCBA` + `123456789012` + `2345` + `EDCBA9876FED Diversified\
        \ Key (3DES CBC): 4CB178CC3FB92FB8693D31F1A39DB8C9`\n\n\n\n*Pin*: `1234`\n\
        \n*Data* 1: `0 4 1234 FFFFFFFFFF`\n\n*Data 2*: `0000 123456789012`\n\n*XOR\
        \ (Data 1, Data 2)*: `041226CBA9876FE`\n\n*Final PIN Block*: `4D316E71853CFB3A`\n"
      operationId: create_user_wallet_card_pin
      parameters:
      - name: X-Auth-User-ID
        in: header
        description: |
          The `user_id` of the user returned via  GET /users
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: card_id
        in: path
        description: |
          The `card_id` for which the information is being retrieved.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/card_id_pins_body'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "500":
          description: Internal server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "503":
          description: External Service Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
  /users/wallets/cards/{card_id}/pins/reset:
    get:
      tags:
      - Cards
      summary: Reset card pin
      description: |
        Reset Card Pin
      operationId: get_user_wallet_card_pins
      parameters:
      - name: card_id
        in: path
        description: |
          The `card_id` for which the information is being retrieved.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: mode
        in: query
        description: |
          Mode denotes how the system generated PIN is sent to the end user.

          | Value | Name | Description |
          |-----|-----|-------|
          | M   | Email   | The PIN is delivered via email   |
          | S   | SMS     | The PIN is delivered via SMS   |
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - M
          - S
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "500":
          description: Internal server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "503":
          description: External Service Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
  /users/wallets/cards/{card_id}/securities/tokens:
    get:
      tags:
      - Cards
      summary: Retrieve card security code
      description: "All card entities attached to the users wallet are industry standard\
        \ cards which come with their own card security code to process card not present\
        \ transactions to reduce fraud and limit the issuer liability.\n\nDepending\
        \ on the network they are referred by scheme specific names like\n- CSC (American\
        \ Express)\n- CVC (MasterCard)\n- CVV (Visa)\n- CVV (Rupay)\n\nThese are typically\
        \ the 3 or 4 digit numbers that are printed at the back of the card. Do note\
        \ the networks are the one who dictate printing of these numbers on the back\
        \ of the card. Lately with the launch of newer card products , they are more\
        \ open to not showing this information as part of the printed card.\n\nVirtual\
        \ cards since mirror the physical cards in all respects , are also provided\
        \ with this security code and its up to the program manager how to implement\
        \ the display of the same.\n\nIn addition for Singapore, MatchMove has also\
        \ received approval from the Scheme partner (MasterCard) to have a dynamic\
        \ CVC in which case the value retrieved via API is re-generated on each request.\
        \ This CVC generated is only valid for one time use or 10 minutes. This provides\
        \ an additional layer of security , though admittedly it introduces a greater\
        \ friction in checkout experience for the end users.\n"
      operationId: get_user_wallet_card_securities_tokens
      parameters:
      - name: X-Auth-User-ID
        in: header
        description: MatchMove provided hash ID for the user
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 32
          type: string
      - name: card_id
        in: path
        description: |
          The `card_id` for which the information is being retrieved.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_8'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "500":
          description: Internal server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "503":
          description: External Service Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
  /users/wallets/cards/funds/categories:
    post:
      tags:
      - Funds Categories
      summary: Create a new fund category in the system
      description: |
        Create a fund category
      operationId: post_user_wallet_card_fund_category
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/funds_categories_body'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fund_categories.v1'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "403":
          description: Forbidden
          content:
            application/x-www-form-urlencoded:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "500":
          description: Internal server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "503":
          description: External Service Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
  /users/wallets/cards/funds/categories/{name}:
    get:
      tags:
      - Funds Categories
      summary: Retrieve Fund Categories
      description: |
        Retrieve Fund Categories
      operationId: get_user_wallet_card_fund_categories
      parameters:
      - name: name
        in: path
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_9'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "500":
          description: Internal server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "503":
          description: External Service Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
    put:
      tags:
      - Funds Categories
      summary: Update attributes of fund category defined in the system
      description: |
        Update fund category
      operationId: put_user_wallet_card_fund_category
      parameters:
      - name: name
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/categories_name_body'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fund_categories.v1'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "500":
          description: Internal server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "503":
          description: External Service Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
    delete:
      tags:
      - Funds Categories
      summary: Delete a fund category defined in the system
      description: |
        Delete fund category in the system
      operationId: delete_user_wallet_card_fund_category
      parameters:
      - name: name
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fund_categories.v1'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "500":
          description: Internal server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "503":
          description: External Service Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
  /users/wallets/cards/funds/categories/{name}/limits:
    get:
      tags:
      - Funds Categories
      summary: Get Fund Category Limits
      description: |
        Get limits of a particular category by name
      operationId: get_user_wallet_card_fund_category_limits
      parameters:
      - name: name
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fund_categories_limit_request.v1'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "500":
          description: Internal server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "503":
          description: External Service Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
    put:
      tags:
      - Funds Categories
      summary: Update Fund Category Limits
      description: |
        Update Fund Category Limits
      operationId: update_user_wallet_card_fund_category_limits
      parameters:
      - name: name
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Fund_categories_limit_request.v1'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fund_categories_limit_response.v1'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "500":
          description: Internal server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "503":
          description: External Service Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
    post:
      tags:
      - Funds Categories
      summary: Create Fund Category Limits
      description: |
        Create Fund Category Limits
      operationId: create_user_wallet_card_fund_category_limits
      parameters:
      - name: name
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Fund_categories_limit_request.v1'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fund_categories_limit_response.v1'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "500":
          description: Internal server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "503":
          description: External Service Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
    delete:
      tags:
      - Funds Categories
      summary: Delete fund categories limit
      description: |
        Delete Fund Category Limits
      operationId: delete_user_wallet_card_fund_category_limits
      parameters:
      - name: name
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_10'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "500":
          description: Internal server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "503":
          description: External Service Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
  /users/wallets/cards/funds/categories/transfers:
    post:
      tags:
      - Funds Categories
      summary: Transfer balance from one fund category to another
      description: |
        Transfer funds from one category to another
      operationId: create_user_wallet_card_fund_category_transfer
      parameters:
      - name: X-Auth-User-ID
        in: header
        description: MatchMove provided hash ID for the user
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 32
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/categories_transfers_body'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_11'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "500":
          description: Internal server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "503":
          description: External Service Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
  /users/wallets/cards/{card_id}/transactions/{page}:
    get:
      tags:
      - Transactions
      summary: Get Card transactions
      description: Retrieve transactions performed on a particular users card in the
        system
      operationId: get_user_wallet_card_transactions
      parameters:
      - name: card_id
        in: path
        description: |
          The `card_id` for which the information is being retrieved.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: X-Auth-User-ID
        in: header
        description: MatchMove provided hash ID for the user
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 32
          type: string
      - name: limit
        in: query
        description: Number of transactions return per page (Default 5)
        required: false
        style: form
        explode: true
        schema:
          maxLength: 2
          type: string
          default: "5"
      - name: type
        in: query
        description: "Filter transactions according to transaction types. Values can\
          \ be: [debit , credit]. "
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - debit
          - credit
      - name: date_range
        in: query
        description: "Limit transactions based on date range. Example: `date_range=20141220,20150131`. "
        required: false
        style: form
        explode: true
        schema:
          maxLength: 21
          type: string
      - name: sort
        in: query
        description: "Comma delimited sorting of the result according to amount, date.added\
          \ and date.expiry. Example: sort=`+amount`,`-date.added`,`-date.expiry`.\
          \ Only works for in house balance products."
        required: false
        style: form
        explode: true
        schema:
          maxLength: 32
          type: string
      - name: page
        in: path
        description: the one-based page number (maximum value of 99) to be displayed.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_12'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "500":
          description: Internal server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "503":
          description: External Service Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
  users/wallets/cards/{card_id}/number:
    get:
      tags:
      - Cards
      summary: Get the encrypted card number
      description: |
        Get the encrypted card number
      operationId: get_user_wallet_card_numer
      parameters:
      - name: card_id
        in: path
        description: |
          The `card_id` for which the information is being retrieved.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: X-Auth-User-ID
        in: header
        description: MatchMove provided hash ID for the user
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 32
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_13'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "500":
          description: Internal server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "503":
          description: External Service Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
  /oauth/consumer/users/instruments:
    get:
      tags:
      - Oauth Utilities Reporting
      summary: Retrieve all payments instruments of the users in the system
      description: A lightweight endpoint to return the User list of payment instruments.
        Suggested to use in case of repeat calls.
      operationId: get_consumer_user_instruments
      parameters:
      - name: user_id
        in: query
        description: User hash ID of the user returned from the MatchMove system
        required: false
        style: form
        explode: true
        schema:
          maxLength: 32
          minLength: 32
          type: string
      - name: mobile_country_code
        in: query
        description: If mobile is passed this is a required parameter
        required: false
        style: form
        explode: true
        schema:
          maxLength: 3
          minLength: 1
          type: string
      - name: mobile
        in: query
        description: if mobile_country_code is passed this is a required parameter
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: card_type_code
        in: query
        description: The list of supported values is retrievable by calling GET /users/wallets/cards/types
        required: false
        style: form
        explode: true
        schema:
          maxLength: 12
          type: string
      - name: card_id
        in: query
        description: Card hash ID of the user returned from card creation
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_14'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "500":
          description: Internal server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "503":
          description: External Service Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
      security:
      - basicAuth: []
  /users/wallets/funds/transfers/overseas/types/{code}:
    get:
      tags:
      - Remittances
      summary: Get Remittance Providers
      description: "Lists all overseas providers offered. You may retrieve information\
        \ for a specific provider by appending its code. This resource serves as a\
        \ prerequisite to list rates, payers and destinations.\n"
      operationId: get_users_wallets_overseas_transfers_types
      parameters:
      - name: code
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Remittance_providers.v1'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "500":
          description: Internal server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "503":
          description: External Service Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
  /users/wallets/funds/transfers/overseas/{type}/fees/{limit}/{offset}:
    get:
      tags:
      - Remittances
      summary: Get Remittance Fees
      description: Retrieve list of fees for remittance agents configured in the system.
      operationId: get_users_wallets_overseas_transfers_fees
      parameters:
      - name: type
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: limit
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: offset
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Remittance_fees.v1'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "500":
          description: Internal server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "503":
          description: External Service Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
  /users/authentications/documents:
    get:
      tags:
      - Users Identity Authentications
      summary: Get KYC
      description: Retrieve details of users Identity Authentication Documents currently
        enrolled in the system
      operationId: get_users_authentication_documents
      parameters:
      - name: X-Auth-User-ID
        in: header
        description: MatchMove provided hash ID for the user
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 32
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_15'
    put:
      tags:
      - Users Identity Authentications
      summary: Confirm submission of KYC (Know Your Customer) documents of the user
        in the system
      description: |
        Used to confirm the process of Identity Authentication documents. Post
        this the application is processed via a manual process or based on
        region specific third party integrations done.
      operationId: confirm_users_authentication_documents
      parameters:
      - name: X-Auth-User-ID
        in: header
        description: MatchMove provided hash ID for the user
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 32
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_16'
    post:
      tags:
      - Users Identity Authentications
      summary: Create KYC
      description: "Initialize a submissions session for users Identity authentication.\n\
        \nDo note the resource has the following pre-requisites too be present in\n\
        the system for the user information \n- `title`\n- `id_type`\n- `id_number`\n\
        - `country_of_issue`\n- `gender`\n\nDepending on geography, certain geographies\
        \ might have additional\nattributes as required for the user model.\n\nIn\
        \ addition, the residential address of the users needs to be updated\nand\
        \ present in the system.\n\nAlso note the count of images uploaded is restricted\
        \ to *4* for a particular\nThe image types are restricted to .jpg , .png ,\
        \ .pdf and each file can be up to 8MB in size.\n"
      operationId: Create_users_authentication_documents
      parameters:
      - name: X-Auth-User-ID
        in: header
        description: MatchMove provided hash ID for the user
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 32
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/authentications_documents_body'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_17'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "500":
          description: Internal server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "503":
          description: External Service Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
    delete:
      tags:
      - Users Identity Authentications
      summary: Delete an uploaded image of the user
      description: End point to delete user kyc document
      operationId: delete-users-authentications-documents
      parameters:
      - name: X-Auth-User-ID
        in: header
        description: MatchMove provided hash ID for the user
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 32
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/authentications_documents_body_1'
            examples:
              example-1:
                value:
                  document: 34076_16028257385f892e0ad7007.jpg
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_10'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
  /users/authentications/statuses:
    put:
      tags:
      - Users Identity Authentications
      summary: Update KYC status
      description: |
        Update  KYC (Know your  Customer) status of the user in the system
      operationId: update_users_authentication_documents_status
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/authentications_statuses_body'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_18'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "500":
          description: Internal server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "503":
          description: External Service Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
  /users/authentications/history: {}
  /users/wallets/funds:
    get:
      tags:
      - Funds
      summary: Get funds
      description: Retrieve closed loop debit and credits for a particular users
      operationId: get_user_wallet_funds
      parameters:
      - name: X-Auth-User-ID
        in: header
        description: MatchMove provided hash ID for the user
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 32
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_19'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "500":
          description: Internal server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "503":
          description: External Service Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
    put:
      tags:
      - Funds
      summary: Update transfer transaction
      description: Confirm the two staged transfer transaction for legacy systems
      operationId: put_user_wallet_funds
      parameters:
      - name: X-Auth-User-ID
        in: header
        description: MatchMove provided hash ID for the user
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 32
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_20'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "500":
          description: Internal server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "503":
          description: External Service Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
      deprecated: true
    post:
      tags:
      - Funds
      summary: Create credit or transfer transaction
      description: "Initiate a  closed loop credit transaction involving a particular\
        \ user in the system.\n\nA. Credit\nIf the `X-Auth-User-Id` parameter is not\
        \ passed as part of the header, this API will credit the recipient's wallet\
        \ as per the users `email`/  `mobile` / `user_id` parameter defined as part\
        \ of the request.\n\nB. Transfer\nIf the `X-Auth-User-Id` is passed,  this\
        \ API will transfer amount from the wallet of the user defined as part of\
        \ `X-Auth-User-id` to another wallet as per the users `email` / `mobile` /\
        \ `user_id` parameter specified as part of the request\n"
      operationId: post_user_wallet_funds
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/wallets_funds_body'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_21'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "500":
          description: Internal server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "503":
          description: External Service Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
    delete:
      tags:
      - Funds
      summary: Create debit transaction
      description: Initiate a  closed loop debit transaction for a particular users
        wallet in the system.
      operationId: delete_user_wallet_funds
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/wallets_funds_body_1'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_22'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "500":
          description: Internal server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "502":
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "503":
          description: External Service Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
  /users/wallets/refund/{type}:
    post:
      tags:
      - Funds
      summary: Create Refund
      description: |
        Issue a partial or full refund out of the wallet.
      operationId: post_user_wallet_refunds
      parameters:
      - name: type
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: partial
          enum:
          - partial
          - full
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/refund_type_body'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_23'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error.v1'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
[...]
